.radioButton {
	align-self: center;
	margin-left: 14px;
	margin-top: 14px;
}

.save {
	margin-bottom: 10px;
}

.closebtn {
	float: right;
}

.editTag {
	padding: 12px 0 0 26px;
	font-size: 18px;
}

.savebtn {
	margin-left: 10px;
}

.tagButn,
.saveBtn {
	padding: 15px;
}

.header {
	position: sticky;
	top: 70px;
	z-index: 10;
	background: #fff;
}

.toggle {
	margin-top: 14px;
}

.education {
	margin-left: 1px;
}

.mat-keywords {
	display: inline-table;
	width: 100%;
	min-height: 80px;
}
.closeBtn{
    margin-right: 10px;
}
.radio{
    vertical-align: text-top;
}
