<div class="m-portlet m-portlet--full-height">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Email
				</h3>
			</div>
			<div class="dataTables_wrapper dt-bootstrap4 no-footer">
				<div class="row">
					<div class="col-sm-12 col-md-7">
						<div class="dataTables_paginate paging_full_numbers" id="m_table_1_paginate">
							<ul class="pagination">
								<li class="paginate_button page-item first disabled" id="m_table_1_first">
									<a href="#" aria-controls="m_table_1" data-dt-idx="0" tabindex="0" class="page-link">
										<i class="la la-angle-double-left"></i>
									</a>
								</li>
								<li class="paginate_button page-item previous disabled" id="m_table_1_previous">
									<a href="#" aria-controls="m_table_1" data-dt-idx="1" tabindex="0" class="page-link">
										<i class="la la-angle-left"></i>
									</a>
								</li>
								<li class="paginate_button page-item active">
									<a href="#" aria-controls="m_table_1" data-dt-idx="2" tabindex="0" class="page-link">1</a>
								</li>
								<li class="paginate_button page-item ">
									<a href="#" aria-controls="m_table_1" data-dt-idx="3" tabindex="0" class="page-link">2</a>
								</li>
								<li class="paginate_button page-item ">
									<a href="#" aria-controls="m_table_1" data-dt-idx="4" tabindex="0" class="page-link">3</a>
								</li>
								<li class="paginate_button page-item ">
									<a href="#" aria-controls="m_table_1" data-dt-idx="5" tabindex="0" class="page-link">4</a>
								</li>
								<li class="paginate_button page-item ">
									<a href="#" aria-controls="m_table_1" data-dt-idx="6" tabindex="0" class="page-link">5</a>
								</li>
								<li class="paginate_button page-item next" id="m_table_1_next">
									<a href="#" aria-controls="m_table_1" data-dt-idx="7" tabindex="0" class="page-link">
										<i class="la la-angle-right"></i>
									</a>
								</li>
								<li class="paginate_button page-item last" id="m_table_1_last">
									<a href="#" aria-controls="m_table_1" data-dt-idx="8" tabindex="0" class="page-link">
										<i class="la la-angle-double-right"></i>
									</a>
								</li>
							</ul>
							<!-- <div class="dataTables_length" id="m_table_1_length"><label>Display <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm"><option value="5">5</option><option value="10">10</option><option value="25">25</option><option value="50">50</option></select></label></div> -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="m-portlet__body email">
		<div class="m-widget3">
			<div class="m-widget3__item emailBox">
				<mat-card-content class="selected">
					<div class="row">
						<div class="m-demo box" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview  m-demo__preview--btn box left">
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									Rejected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<div class="btn-group">
									<button class="btn btn-primary btn-shadow btn-sm dropdown-toggle select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Small button
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-card-content>
				<div class="selected">
					<div class="m-demo-icon__preview allIcon ">
						<span class="archive">Spam Archive</span>
						<!-- <i class="material-icons unreadIcon icon select"></i> -->
						<i class="flaticon-interface icon"></i>
						<i class="flaticon-interface icon"></i>
						<!-- <i class="material-icons unreadIcon icon select"></i> -->
						<i class="flaticon-multimedia icon"></i>
						<i class="fa fa-mobile-alt icon"></i>
						<i class="la la-star-o icon"></i>
						
					</div>
				</div>
				<div class="m-widget3__header">
					<div class="m-widget3__user-img">
						<img class="m-widget3__img" src="./assets/app/media/img/users/user1.jpg" alt="">
					</div>
					<div class="m-widget3__info">
						<span class="m-widget3__username">
							Melania Trump
						</span>
						<br>
						<span class="m-widget3__time">
							2 day ago
						</span>
					</div>
				</div>
				<div class="m-widget3__body">
					<p class="m-widget3__text">
						Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-portlet__body email">
		<div class="m-widget3">
			<div class="m-widget3__item emailBox">
				<mat-card-content class="selected">
					<div class="row">
						<div class="m-demo box" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview  m-demo__preview--btn box left">
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									Rejected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<div class="btn-group">
									<button class="btn btn-primary btn-shadow btn-sm dropdown-toggle select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Small button
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-card-content>
				<div class="m-widget3__header">
					<div class="m-widget3__user-img">
						<img class="m-widget3__img" src="./assets/app/media/img/users/user1.jpg" alt="">
					</div>
					<div class="m-widget3__info">
						<span class="m-widget3__username">
							Melania Trump
						</span>
						<br>
						<span class="m-widget3__time">
							2 day ago
						</span>
					</div>
				</div>
				<div class="m-widget3__body">
					<p class="m-widget3__text">
						Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-portlet__body email">
		<div class="m-widget3">
			<div class="m-widget3__item emailBox">
				<mat-card-content class="selected">
					<div class="row">
						<div class="m-demo box" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview  m-demo__preview--btn box left">
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									Rejected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<div class="btn-group">
									<button class="btn btn-primary btn-shadow btn-sm dropdown-toggle select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Small button
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-card-content>
				<div class="m-widget3__header">
					<div class="m-widget3__user-img">
						<img class="m-widget3__img" src="./assets/app/media/img/users/user1.jpg" alt="">
					</div>
					<div class="m-widget3__info">
						<span class="m-widget3__username">
							Melania Trump
						</span>
						<br>
						<span class="m-widget3__time">
							2 day ago
						</span>
					</div>
				</div>
				<div class="m-widget3__body">
					<p class="m-widget3__text">
						Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-portlet__body email">
		<div class="m-widget3">
			<div class="m-widget3__item emailBox">
				<mat-card-content class="selected">
					<div class="row">
						<div class="m-demo box" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview  m-demo__preview--btn box left">
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									Rejected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<div class="btn-group">
									<button class="btn btn-primary btn-shadow btn-sm dropdown-toggle select " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Small button
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-card-content>
				<div class="m-widget3__header">
					<div class="m-widget3__user-img">
						<img class="m-widget3__img" src="./assets/app/media/img/users/user1.jpg" alt="">
					</div>
					<div class="m-widget3__info">
						<span class="m-widget3__username">
							Melania Trump
						</span>
						<br>
						<span class="m-widget3__time">
							2 day ago
						</span>
					</div>
				</div>
				<div class="m-widget3__body">
					<p class="m-widget3__text">
						Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-portlet__body email">
		<div class="m-widget3">
			<div class="m-widget3__item emailBox">
				<mat-card-content class="selected">
					<div class="row">
						<div class="m-demo box" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview  m-demo__preview--btn box left">
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									Rejected
								</button>
								<button type="button" class="btn m-btn--pill btn-shadow btn-primary tagButton">
									selected
								</button>
								<div class="btn-group">
									<button class="btn btn-primary btn-shadow btn-sm dropdown-toggle select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Small button
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Separated link</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-demo-icon">
						<div class="m-demo-icon__preview">
							<i class="flaticon-multimedia"></i>
						</div>
						<div class="m-demo-icon__class">
							flaticon-multimedia </div>
					</div>
				</mat-card-content>
				<div class="m-widget3__header">
					<div class="m-widget3__user-img">
						<img class="m-widget3__img" src="./assets/app/media/img/users/user1.jpg" alt="">
					</div>
					<div class="m-widget3__info">
						<span class="m-widget3__username">
							Melania Trump
						</span>
						<br>
						<span class="m-widget3__time">
							2 day ago
						</span>
					</div>
				</div>
				<div class="m-widget3__body">
					<p class="m-widget3__text">
						Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
