
<ul class="m-menu__nav m-menu__nav--submenu-arrow">
	<li class="m-menu__item m-menu__item--submenu m-menu__item--rel ng-star-inserted">
		<a class="m-menu__link m-menu__toggle ng-star-inserted">
				<i class="m-menu__link-icon flaticon-add ng-star-inserted" ng-reflect-klass="m-menu__link-icon" ng-reflect-ng-class="flaticon-add"></i>
			<span class="m-menu__link-text ng-star-inserted">
				Dashboard
			</span>
		</a>
	</li>
	<li class="m-menu__item m-menu__item--submenu m-menu__item--rel ng-star-inserted">
			<a class="m-menu__link m-menu__toggle ng-star-inserted">
					<i class="m-menu__link-icon flaticon-email ng-star-inserted" ng-reflect-klass="m-menu__link-icon" ng-reflect-ng-class="flaticon-add"></i>
				<span class="m-menu__link-text ng-star-inserted">
					Inbox
				</span>
			</a>
		</li>
</ul>