<div class="main" id="imap-table">
    <app-imap-component-form (addedImap)="getImapList()"></app-imap-component-form>
    <mat-card class="mt-20">
        <mat-card-subtitle class="cardsub font500">
            IMAP/POP3 Settings
            <small class="note">**NOTE : First you need to ON the Allow less secure apps button on your Gmail account
                <a target="_blank" href="https://myaccount.google.com/lesssecureapps">https://myaccount.google.com/lesssecureapps</a>
            </small>
        </mat-card-subtitle>

        <mat-card-content class="table-responsive">
            <table class="table list" id="table">
                <thead>
                    <tr class="tableStrip">
                        <th class="pl-2">Email ID</th>
                        <th>Server</th>
                        <th>Port</th>
                        <th>Encryption</th>
                        <th class="alignCenter">Statistics</th>
                        <th>Days Left To Fetch</th>
                        <th>Active</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr *ngFor="let setting of imapSettingJson; trackBy: imapSettingJsonTrack;">
                        <td id="email" class="pl-2">{{setting.email}}</td>
                        <td>{{setting.imap_server}}</td>
                        <td>{{setting.server_port}}</td>
                        <td>{{setting.type}}</td>
                        <td class="alignCenter">
                            <mat-icon class="chartcolor" style="vertical-align: middle;">insert_chart</mat-icon>
                            {{setting.fetched_email_count}}/{{setting.total_emails}}
                            <br/>
                            <span class="fetch-till badges">Fetch Till : {{setting.fetched_mail_till}}</span>
                        </td>
                        <td>{{setting.days_left_to_fetched}}</td>
                        <td class="alignCenter">
                            <mat-icon id="switchState" class="material-icons alignCenter {{setting.active ? 'on':'off'}}" (click)="activateImap(setting.email)">power_settings_new</mat-icon>
                        </td>
                        <td class="alignCenter">
                            <mat-icon class="material-icons alignCenter on" (click)="remove(setting.id)">remove_circle_outline</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>