<div class="outerbody">
	<div class="logo">
		<img class="img-responsive" src="assets/logo.png">
	</div>
	<div class="login-card">
		<mat-card>
			<form id="loginFormButton" autoComplete="off" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
				<mat-card-title>
					<h4>Sign In</h4>
				</mat-card-title>
				<mat-card-subtitle id="loginError" class="error" *ngIf="showmessage">{{message}}</mat-card-subtitle>
				<mat-card-content>
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label>Email</label>
							<input type="text" class="form-control m-input" formControlName="email" placeholder="Email">
							<div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine">
								<div [hidden]="!loginForm.controls['email'].errors.pattern" class="form-control-feedback text-warning">
									Shucks, that email address is invalid, try again.
								</div>
							</div>
						</div>
						<div class="form-group m-form__group">
							<label>Password</label>
							<input type="password" class="form-control m-input" formControlName="password" placeholder="Password">
						</div>
						<div class="m-checkbox-list">
							<label class="m-checkbox">
								<input type="checkbox" formControlName="keeplogin"> Keep Me Logged In
								<div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine">
									<div [hidden]="!loginForm.controls['password'].errors.required" class="form-control-feedback text-warning">
										Password is Required
									</div>
								</div>
							</label>
						</div>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<button form="loginFormButton" *ngIf="!loading" class="btn m-btn--pill m-btn--air btn-primary btn-block" [disabled]="!loginForm.valid">Sign In</button>
					<mat-spinner id="loginSpinner" diameter="50" *ngIf="loading" class="spin"></mat-spinner>
				</mat-card-actions>
			</form>
		</mat-card>
	</div>
</div>