<!-- <div class="well contain">
    <div class="row head">
        <mat-select placeholder="Job Profile" class="col-md-3 width"  name="job_profile" [(ngModel)]="currentJobProfile" (ngModelChange)="change($event)" required>
            <mat-option *ngFor="let tags of jobProfile" [value]="tags.tag_id">
                {{ tags.title }}
            </mat-option>
        </mat-select>
        <div class="col-md-10 text-right">
            <button mat-raised-button color=accent  (click)="addTemp()">ADD NEW TEMPLATE</button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let temps of tempData; let i=index; trackBy: tempDataTrack;">
            <div *ngIf="currentJobProfile==temps.job_profile || currentJobProfile==0" class="col-md-6" >
                <app-single-template [temp]="temps" (testTemp)="testTemplate($event)" (deleteTemp)="deleteTempId($event); tempData.splice(i,1)" (edits)="editTemp($event)"></app-single-template>
            </div>
        </div>
    </div>
</div> -->
<mat-card>

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <div class="m-widget2">
            <div class="m-widget2__item m-widget2__item--primary" *ngFor="let temps of tempData; let i=index; trackBy: tempDataTrack;">
                <div class="m-widget2__desc">
                    <span class="m-widget2__text">
                        Make Metronic Great Again.Lorem Ipsum Amet
                    </span>
                    <br>
                    <span class="m-widget2__user-name">
                        <a href="javascript:;" class="m-widget2__link">
                            By Bob
                        </a>
                    </span>
                </div>
                <div class="m-widget2__actions">
                    <div class="m-widget2__actions-nav">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                            <a href="javascript:;" class="m-dropdown__toggle">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-share"></i>
                                                        <span class="m-nav__link-text">Test</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                        <span class="m-nav__link-text">Edit</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-info"></i>
                                                        <span class="m-nav__link-text">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="m-widget2__item m-widget2__item--warning">
            <div class="m-widget2__desc">
                <span class="m-widget2__text">
                    Prepare Docs For Metting On Monday
                </span>
                <br>
                <span class="m-widget2__user-name">
                    <a href="javascript:;" class="m-widget2__link">
                        By Sean
                    </a>
                </span>
            </div>
            <div class="m-widget2__actions">
                <div class="m-widget2__actions-nav">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                        <a href="javascript:;" class="m-dropdown__toggle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
        <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                        <ul class="m-nav">
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-share"></i>
                                    <span class="m-nav__link-text">Test</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                    <span class="m-nav__link-text">Edit</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                    <i class="m-nav__link-icon flaticon-info"></i>
                                    <span class="m-nav__link-text">Delete</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-widget2__item m-widget2__item--brand">
            <div class="m-widget2__desc">
                <span class="m-widget2__text">
                    Make Widgets Great Again.Estudiat Communy Elit
                </span>
                <br>
                <span class="m-widget2__user-name">
                    <a href="javascript:;" class="m-widget2__link">
                        By Aziko
                    </a>
                </span>
            </div>
            <div class="m-widget2__actions">
                <div class="m-widget2__actions-nav">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                        <a href="javascript:;" class="m-dropdown__toggle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                    <span class="m-nav__link-text">Activity</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                    <span class="m-nav__link-text">Messages</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                    <span class="m-nav__link-text">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                    <span class="m-nav__link-text">Support</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-widget2__item m-widget2__item--success">
            <div class="m-widget2__desc">
                <span class="m-widget2__text">
                    Make Metronic Great Again.Lorem Ipsum
                </span>
                <br>
                <span class="m-widget2__user-name">
                    <a href="javascript:;" class="m-widget2__link">
                        By James
                    </a>
                </span>
            </div>
            <div class="m-widget2__actions">
                <div class="m-widget2__actions-nav">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                        <a href="javascript:;" class="m-dropdown__toggle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                    <span class="m-nav__link-text">Activity</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                    <span class="m-nav__link-text">Messages</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                    <span class="m-nav__link-text">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                    <span class="m-nav__link-text">Support</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-widget2__item m-widget2__item--danger">
            <div class="m-widget2__desc">
                <span class="m-widget2__text">
                    Completa Financial Report For Emirates Airlines
                </span>
                <br>
                <span class="m-widget2__user-name">
                    <a href="javascript:;" class="m-widget2__link">
                        By Bob
                    </a>
                </span>
            </div>
            <div class="m-widget2__actions">
                <div class="m-widget2__actions-nav">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                        <a href="javascript:;" class="m-dropdown__toggle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                    <span class="m-nav__link-text">Activity</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                    <span class="m-nav__link-text">Messages</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                    <span class="m-nav__link-text">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                    <span class="m-nav__link-text">Support</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-widget2__item m-widget2__item--info">
            <div class="m-widget2__desc">
                <span class="m-widget2__text">
                    Completa Financial Report For Emirates Airlines
                </span>
                <br>
                <span class="m-widget2__user-name">
                    <a href="javascript:;" class="m-widget2__link">
                        By Sean
                    </a>
                </span>
            </div>
            <div class="m-widget2__actions">
                <div class="m-widget2__actions-nav">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
                        <a href="javascript:;" class="m-dropdown__toggle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                    <span class="m-nav__link-text">Activity</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                    <span class="m-nav__link-text">Messages</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                    <span class="m-nav__link-text">FAQ</span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                    <span class="m-nav__link-text">Support</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
            </div>
    </ng-container>
</mat-card>