.m-widget2 .m-widget2__item .m-widget2__desc {
    padding-left: 2.3rem !important;
}
.m-subheader .m-subheader__daterange {
    display: inline-block;
    border-radius: 2rem;
    padding: 5px;
    cursor: pointer;
    background: #fff;
}
.m-subheader .m-subheader__daterange .m-subheader__daterange-label {
    padding: 0.7rem 0.75rem 0.7rem 1.5rem;
}
