.header{
    position: sticky;
    top: 70px;
    z-index: 10;
    background: #fff;
}.toggle{
    margin-top: 7px;
}
.formfield{
    width:100%;
}
.tagColor{
    margin-bottom: 18px;
}.closeBtn{
    margin-right: 10px;
}
.padd24{
    padding:20px;
}