.header{
    // box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 70px;
    z-index: 10;
    background: #fff;
}.toggle{
    margin-top: 7px;
}
.formfield{
    width:100%;
}
.tagColor{
    margin-bottom: 18px;
}