.heading {
    font-size: 20px;
    font-weight: 500;
}

.background {
    background: #564FC1;
}

.fontColor {
    color: white;
}
.buttonForm{
    background: #22b9ff;
    border-radius: 20px;
    color: white!important;
    margin-top: 7px;

}

.error{
    color: #e15353;
    font-weight: 500;
}
input{
    color: #9388fa;
}
.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button{
    color: #9388fa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid #c3bef1;
  -webkit-text-fill-color: #c8c5eb;
  -webkit-box-shadow: 0 0 0px 1000px #564FC1 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.mat-input-placeholder {
    color: #c8c5eb;
}
.lineH-3-5{
    line-height: 3.5;
}
mat-form-field{
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c8c5eb;
}

